@keyframes container-fade-in {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    1% {
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes container-fade-out {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }
    99% {
        transform: translateY(0%);
        opacity: 0;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes container-fade-out-delayed {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }
    99% {
        transform: translateY(0%);
        opacity: 0;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes dialogue-slide-in {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes dialogue-slide-out {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-50%);
        opacity: 0;
    }
}