@mixin transition($props) {
    -webkit-transition: $props;
    -moz-transition: $props;
    -o-transition: $props;
    transition: $props;
}

@mixin animation($props) {
    -webkit-animation: $props;
    -moz-animation: $props;
    -o-animation: $props;
    animation: $props;
}