// Add transform effect with support to all browsers
@mixin add-transform-effect($effect) {
    -webkit-transform: $effect;
    -moz-transform: $effect;
    -o-transform: $effect;
    -ms-transform: $effect;
    transform: $effect;
}

// Add transition with support to all browsers
@mixin add-transition($prop) {
    -webkit-transition: $prop;
    -moz-transition: $prop;
    -o-transition: $prop;
    -ms-transition: $prop;
    transition: $prop;
}

// Add transform origin with support to all browsers
@mixin add-transform-origin($origin) {
    -webkit-transform-origin: $origin;
    -moz-transform-origin: $origin;
    -o-transform-origin: $origin;
    -ms-transform-origin: $origin;
    transition: $origin;
}

// Center vertically (Position should be provided in order for it to work)
// * in case of position absolute, you need to assign position to parent as well
@mixin vertical-align-middle {
    top: 50%;
    @include add-transform-effect(translateY(-50%));
}

// Center horizontally (Position should be provided in order for it to work)
// * in case of position absolute, you need to assign position to parent as well
@mixin horizontal-align-middle {
    left: 50%;
    @include add-transform-effect(translateX(-50%));
}

// ------------------ Custom mixins ------------------
@mixin container-holder-defaults {
    overflow: auto;
    position: absolute;
    top: 50px;
    bottom: 60px;
    left: 0px;
    right: 0px;
    padding: 0px 14px 10px 14px;
    margin: auto;
}

@mixin breakpoints($type) {
    @if $type==phone {
        @media screen and (max-width: 600px) {
            @content;
        }
    }

    @else if $type==tablet {
        @media screen and (max-width: 768px) and (min-width: 600px) {
            @content;
        }
    }
}

@mixin btn-without-background {
    .button {
        background-color: initial;
        color: var(--black-color);
        padding: 2px 5px;

        .btn-icon {
            padding-right: 5px;

            .svg-increase {
                fill: var(--primary-color);
                width: 30px;
                height: 30px;
            }

            .svg-delete {
                fill: var(--delete-color);
                width: 27px;
                height: 27px;
            }
        }

        &:hover {
            background-color: initial;

        }
    }
}