html {
    font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: var(--font-size);

    body {
        margin: 0px;
        padding: 0px;
        background: var(--body);
    }
}

.hidden {
    display: none !important;
}

// container
.container {
    margin: auto;
    padding: 12px;
    max-width: 600px;
}

.home {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    //-webkit-overflow-scrolling: touch;
}

@include breakpoints(phone) {
    .home{
        bottom: 60px;
    }
}

@media (min-width: 769px) {
    .container {
        width: 57%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 65%;
    }
}