@import "./mixins";

@font-face {
    font-family: "Ubuntu";
    src: url("../assets/fonts/Ubuntu-Medium.woff2") format("woff2"), url("../assets/fonts/Ubuntu-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
    src: url("../assets/fonts/Ubuntu-Regular.woff2") format("woff2"), url("../assets/fonts/Ubuntu-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    // These 2 colors will be used within the chat app
    --primary-color: #0367d8;
    --foreground-color: #ffffff;
    --black-color: #000;
    --secondary-color: #9b9b9b;
    --secondary-color-light: #dfdfdf;

    // font sizes
    --font-size-super-big: 50px;
    --font-size-bigger: 30px;
    --font-size-big: 20px;
    --font-size: 16px;
    --input-font-size: 15pxß;
    --font-size-1: 14px;

    // border-radius
    --small-radius: 5px;

    // line-height
    --line-height-1: 0;
    --line-height-2: 1.5;

    // min width for input dynamic form
    --input-width: 100%;

    // hight for input (textbox - dropdown) dynamic form
    --input-height: 45px;
    --margin-bottom: 30px;

    // margin-bottom for input and label
    --margin-bottom-label: 10px;

    //box shadow
    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    --size-1: 2rem;
    --size-2: 1.5rem;
    --size-3: 1.125rem;
    --size-4: 1rem;
    --size-5: 0.85rem;
    --size-6: 0.7rem;
    --size-7: 0.9rem;
    --size-8: 0.5rem;
    --size-9: 0.25rem;

    --vw-size-1: 1.1vw;
    --vw-size-2: 1.4vw;
    --vw-size-3: 1.8vw;
    --vw-size-4: 2vw;
}

$tablet: "(min-width: 768px) and (max-device-width : 1024px) and (orientation: portrait)";
$tablet-desktop: "(min-width: 768px)";
$small-device: "(max-width: 320px)";

// FONT-SIZES
$largest: 30px;
$larger: 25px;
$large: 20px;
$medium: 18px;
$standard: 16px;
$default: 14px;
$small: 12px;

// SHADOWS
$layerd-shadow-right: 0 14px 28px rgba(0, 0, 0, 0.25),
5px 0 5px rgba(0, 0, 0, 0.22);
$layed-shadow-below: 0 5px 28px rgba(0, 0, 0, 0.25),
0 2px 2px rgba(0, 0, 0, 0.22);
$layed-shadow-above: 0 5px 28px rgba(0, 0, 0, 0.25),
5px 2px 2px 3px rgba(0, 0, 0, 0.22);