.text-box {

    .label-text-box {
        display: block;
        color: var(--dark-gray);
        margin-bottom: var(--margin-bottom-label);
    }

    >.input-text-box {
        height: var(--input-height);
    }

    .input-text-box {
        appearance: none;
        box-sizing: border-box;
        width: var(--input-width);
        display: block;
        border-radius: var(--small-radius);
        border: 1px solid var(--secondary-color-light);
        padding: var(--size-8) var(--size-8);
        margin-bottom: var(--size-9);
        font-size: var(--input-font-size);

        &::placeholder {
            color: var(--placeholder-color);
        }

        &:hover,
        &:focus,
        &:active {
            border-color: var(--primary-color);
            outline: 0;
        }
    }

    .border-error {
        border-color: var(--error-color);

        &:hover,
        &:active,
        &:focus {
            border-color: var(--error-color);
        }

        &+.error-msg {
            color: var(--error-color);
            margin: 0;
            font-size: var(--font-size-1);
        }
    }
}